# Среда разработки и виртуальные окружения
.venv/
env/
venv/
.env

# Байт-код и кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Базы данных и миграции
*.sqlite3
alembic.ini

# Системные файлы и IDE
.idea/
.vscode/
.DS_Store